<p>
  <strong>Name:</strong>
  <%= @client_policy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client_policy.description %>
</p>

<p>
  <strong>Policy type:</strong>
  <%= PolicyType.find(@client_policy.policy_type_id).name %>
</p>

<p>
  <strong>Lync policy name:</strong>
  <%= @client_policy.lync_policy_name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_client_policy_path(@client_policy) %> |
<%= link_to 'Back', client_policies_path %>
</div>