<h2>Listing pin policies</h2>
<p>
<div class="digg_pagination">  
<%= will_paginate @pin_policies %>
<% if can? :create, PinPolicy %>
<%= link_to 'New PinPolicy', new_pin_policy_path %>
<% end %>
</div>
</p>
<br />
<p style="clear: both">
<table class="phonebook" cellspacing="0">
  <thead>
    <tr class="phonebook">
    <th>Name</th>
	  <th></th>
      <th>Description</th>
      <th>Policy type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pin_policies.each do |pin_policy| %>
    <tr class="<%= cycle('ma_row_light', 'ma_row_dark') %>">
    <%= render :partial => "shared/edit_link", :object => pin_policy, :locals => {:display => pin_policy.name, :edit_path => edit_pin_policy_path(pin_policy)} %>
    <td><%= pin_policy.description %></td>
    <td><%= PolicyType.find(pin_policy.policy_type_id).name %></td>
    <%= render :partial => "shared/delete_link", :object => pin_policy, :locals => {:display => "Delete #{pin_policy.name}" } %>
        </tr>
		<% end %>
  </tbody>
</table>

<p>
<div class="digg_pagination">  
<%= will_paginate @pin_policies %>
<% if can? :create, PinPolicy %>
<%= link_to 'New PinPolicy', new_pin_policy_path %>
<% end %>
</div>
</p>
