<p>
  <strong>Name:</strong>
  <%= @external_access_policy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @external_access_policy.description %>
</p>

<p>
  <strong>Policy type:</strong>
  <%= PolicyType.find(@external_access_policy.policy_type_id).name %>
</p>

<p>
  <strong>Lync policy name:</strong>
  <%= @external_access_policy.lync_policy_name %>
</p>

<div class="phonebook">
<%= link_to 'Edit', edit_external_access_policy_path(@external_access_policy) %> |
<%= link_to 'Back', external_access_policies_path %>
</div>