<h2>Listing persistent chat policies</h2>
<p>
<div class="digg_pagination">  
<%= will_paginate @persist_chat_policies %>
<% if can? :create, PersistChatPolicy %>
<%= link_to 'New PersistChatPolicy', new_persist_chat_policy_path %>
<% end %>
</div>
</p>
<br />
<p style="clear: both">
<table class="phonebook" cellspacing="0">
  <thead>
    <tr class="phonebook">
    <th>Name</th>
	  <th></th>
      <th>Description</th>
      <th>Policy type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @persist_chat_policies.each do |persist_chat_policy| %>
    <tr class="<%= cycle('ma_row_light', 'ma_row_dark') %>">
      <%= render :partial => "shared/edit_link", :object => persist_chat_policy, :locals => {:display => persist_chat_policy.name, :edit_path => edit_persist_chat_policy_path(persist_chat_policy)} %>
      <td><%= persist_chat_policy.description %></td>
      <td><%= PolicyType.find(persist_chat_policy.policy_type_id).name %></td>
      <%= render :partial => "shared/delete_link", :object => persist_chat_policy, :locals => {:display => "Delete #{persist_chat_policy.name}" } %>
    </tr>
	<% end %>
  </tbody>
</table>

<p>
<div class="digg_pagination">  
<%= will_paginate @persist_chat_policies %>
<% if can? :create, PersistChatPolicy %>
<%= link_to 'New PersistChatPolicy', new_persist_chat_policy_path %>
<% end %>
</div>
</p>
